.mat-h6,
.mat-headline,
.mat-typograph {
    font-size: 18px;
    font-weight: 500;
}

h6 {
    font-size: 16px !important;
    font-weight: 400;
}

.mat-toolbar {
    margin: -24px;
    margin-bottom: 10px;
    width: auto;
}